/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.3.1
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
.header_top {
  background-color: #81be40 !important; }

.header_bottom {
  background-color: #fff !important; }

.header-widget .textwidget p {
  color: #fff;
  font-weight: 600; }

.content {
  margin-top: 0px !important; }

.browse-our-brands-img img {
  width: 90%; }

h3.icon_title {
  text-transform: none !important;
  font-size: 18px !important;
  line-height: 28px !important; }

.icon_text_holder {
  padding-left: 0px !important; }

.homepage-consulation h2, .homepage-consulation p {
  color: #fff; }

.center-button .wpb_column.vc_column_container.vc_col-sm-2 {
  display: block;
  margin: 0 auto; }
.center-button .vc_col-sm-2 {
  float: none !important; }

a#image-button {
  margin: 0 auto;
  display: block;
  text-align: center; }

.footer_top .widget_nav_menu ul li {
  padding: 0px !important; }
  .footer_top .widget_nav_menu ul li a:hover {
    color: #0f5da8 !important; }

.footer_top h5 {
  margin: 0px !important; }

.web123_footer {
  background-color: #f6f6f6 !important; }

@media screen and (max-width: 767px) {
  .browse-our-brands-img img {
    width: 50% !important;
    margin-bottom: 30px; }

  .last-img img {
    margin-bottom: 0px !important; }

  a#image-button {
    width: 50%; } }
.wpcf7 input, .wpcf7 textarea {
  border: 1px solid #656565 !important;
  border-radius: 2px !important; }
.wpcf7 textarea {
  width: 100% !important; }
.wpcf7 input.wpcf7-submit {
  border: none !important; }
