

.qbutton i {
margin: 0px !important;
}

.mobile_menu_button {
display: none !important;
}
.maxijet-button {
    font-size: 16px;
    padding: 12px 18px;
    background-color: #0F5DA8;
    border: 1px solid #0F5DA8;
    color: #ffffff;
    display: inline-block;
    line-height: 22px;
}
a.maxijet-button:hover {
    color: #0f5da8!important;
    background-color: #F6F6F6;
    text-decoration: none;
}